li.active a {
    color: #f23d19;
    font-weight: bold;
}

@media only screen and (min-width: 1199px) {
    .sec-title-style1.font50 {
        font-size: 50px;
    }
    .sec-subtitle-style1.font20 {
        font-size: 20px;
    }
}