.navgition .navbar .navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 500;
}

.navgition .navbar .navbar-social ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #0b7346 !important;
}

.navgition .navbar .navbar-social ul li {
    margin-right: 30px;
}

.header-hero::before {
    background: unset;
}

h1, h2, h3, h4, h5, h6 {
    color: #0B7346 !important;
}

.text-primary-color {
    color: #0B7346 !important;
}

.header-hero .header-content .text {
    font-size: 28px;
}

.header-hero .header-content h1 {
    font-size: 80px;
}

.rounded-buttons .rounded-three {
    background: linear-gradient(to right, #0b7346 0%, #46c7aa 50%, #269a68 100%);
}

.section-title .title {
    font-size: 40px;
}

.main-btn.rounded-four {
    padding: 0 32px;
}

.main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border: 0;
    line-height: 50px;
}

.header-hero .header-content {
    padding-top: 135px;
}

.single-pricing.enterprise .pricing-flower img {
    width: 70%;
}

.call-to-action {
    background-color: #ffffff;
}

.call-action-content .call-title {
    font-size: 32px;
}

.call-action-image {
    height: unset;
}

.footer-copyright {
    background-color: #0b7346;
}

.call-action-content {
    padding-top: 150px;
    padding-bottom: unset;
}

.footer-link ul li a {
    font-size: 15px;
    font-weight: 400;
}

.nav-item span {
    padding: 0 15px;
    color: #0b7346;
    font-weight: 600;
}

.nav-item.active span {
    background: #0b7346;
    color: white;
}

.nav-item span:hover {
    background: #0b7346;
    color: white;
}

.navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::before {
    content: unset;
}

.navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
    content: unset;
}

.navgition .navbar .navbar-nav .nav-item {
    margin: 0 10px;
}

.back-to-top {
    background-color: #0b7346;
}

.single-pricing .pricing-btn .main-btn {
    font-size: 13px;
}

.contact~.call-to-action {
    display: none;
}

#contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
    color: #0b7346;
}

#contact input:-moz-placeholder, #contact textarea:-moz-placeholder {
    color: #0b7346;
}

#contact input::-moz-placeholder, #contact textarea::-moz-placeholder {
    color: #0b7346;
}

#contact input::-ms-input-placeholder, #contact textarea:-ms-input-placeholder {
    color: #0b7346;
}

.dropdown-item {
    padding: 20px !important;
}

.text-gray {
    color: gray !important;
}

.dropdown-toggle::after {
    color: #0b7346;
    margin-left: unset;
}

/* Keep in bottom */

@media only screen and (max-width: 600px) {
    .header-hero .header-content .text {
        font-size: 25px;
    }
    .header-hero .header-content h1 {
        font-size: 50px;
    }
    .header-hero .header-content {
        padding-top: 314px;
    }
    .single-pricing.enterprise .pricing-flower img {
        width: 100%;
    }
    .footer-area .logo {
        margin-bottom: 50px;
    }
}